<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/index/content.css">
</head>
<body marginwidth="0" marginheight="0">
	<div id="logo">
		<table border="0" width="100%" height="50">
			<tbody><tr>
				<td><a href="home.html" target="main"><font color="#4060b9">NoncoRNA:
							a database of experimentally supported non-coding RNAs and drug
							targets in cancer</font></a></td>
			</tr>
		</tbody></table>
	</div>

</body>
</html>
