<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/download/content.css">
</head>
<body>
	<div id="content">
		<div id="download">
			<table width="100%">
				<tbody><tr>
					<td><h2>Download<br><br></h2></td>

				</tr>
				<tr>
					<td>The current of NoncoRNA includes 5,568 ncRNAs and 154 drugs
						in 134 cancers.<br><br></td>

				</tr>
				<tr>
					<td>The NoncoRNA provides a download page that enables users to
						download the data from experiments that supported non-coding RNA
						and drug target associations in cancer.<br><br></td>
				</tr>
				<tr>
					<td>The data from experiments that supported non-coding RNA
						and drug target associations in cancer ( <a href="/static/file/NoncoRNA.xls" target="_blank">excel</a>
						or <a href="/static/file/NoncoRNA.txt" target="_blank">txt</a>
						)
					</td>
				</tr>
				<tr>
					<td><br><br><br><br><br><br>
						<h2>Our Sister Projects</h2></td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody><tr>
								<td><a href="http://cgga.org.cn/" target="_blank"><img src="/static/download/cgga.jpg" width="150"></a></td>

								<td><a href="http://bio-bigdata.hrbmu.edu.cn/Co-LncRNA" target="_blank"><img src="/static/download/co-lncRNA.jpg" width="150"></a></td>

								<td><a href="http://cgga.org.cn:9091/circRNADisease" target="_blank"><img src="/static/download/circRNADisease.jpg" width="150"></a></td>
							</tr>
						</tbody></table>
					</td>
				</tr><tr>
					<td><br>
						<h2>Links</h2></td>
				</tr>
				<tr>
					<td><table>
							<tbody><tr>
								<td><a href="http://www.jianglab.cn/SM2miR" target="_blank"><img src="/static/download/SM2miR.jpg" width="150"></a></td>

								<td><a href="http://bio-bigdata.hrbmu.edu.cn/lnc2cancer" target="_blank"><img src="/static/download/lnc2cancer.jpg" width="150"></a></td>

								<td><a href="http://www.jianglab.cn/ncDR" target="_blank"><img src="/static/download/ncDR.jpg" width="150"></a></td>
							</tr>
						</tbody></table></td>
				</tr>

			</tbody></table>
		</div>
	</div>

</body></html>
