<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<title>NoncoRNA database</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" style="text-align: center; background-color: #eee">
	<div id="boxShadow" style="text-align: center; width: 100%; height: max">

		<table width="1300" align="center">
			<tbody><tr>
				<td height="50" width="100%"><iframe src="{% url 'logo' %}" height="50" width="100%" scrolling="NO" frameborder="0" marginwidth="0" marginheight="0"></iframe></td>
			</tr>
			<tr>
				<td height="48" width="100%"><iframe src="{% url 'menu' %}" height="48" width="100%" scrolling="NO" frameborder="0" marginwidth="0" marginheight="0"></iframe></td>
			</tr>
			<tr>
				<td height="auto" width="100%"><iframe src="{% url 'home' %}" height="682" width="100%" scrolling="AUTO" frameborder="0" marginwidth="0" marginheight="0" name="main"></iframe></td>
			</tr>
			<tr>
				<td height="auto" width="100%"><iframe src="{% url 'bottom' %}" height="150" width="100%" scrolling="AUTO" frameborder="0" marginwidth="0" marginheight="0" name="main"></iframe></td>
			</tr>

		</tbody></table>
	</div>

</body></html>
